/*
 * Стили для шапки игровых экранов.
 * Кнопка возврата на первый шаг и табы для экранов с результатами
 */

@import '../variables/colors';

.header {
	justify-content: space-between;
	align-items: flex-start;

	display: flex;

	height: 100px;
}

.back {
	padding: 0;

	&:hover svg,
	&:focus svg {
		fill: $link-hover-color;
	}

	&:active svg {
		fill: $link-active-color;
	}
}

.header__tabs {
	font-size: 0;
}

.tab {
	width: 130px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: none;

	background-color: rgba(0, 0, 0, 0.1);

	font-size: 22px;

	&:hover,
	&:focus {
		background-color: rgba(0, 0, 0, 0.3);

		color: $main-black-color;
	}

	&:active,
	&--active {
		background-color: $main-black-color;

		color: white;
	}
}
